*{
    font-family: "Helvetica Neue";
    color: black;

    text-transform: uppercase;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}


nav{
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding-bottom: 10px;
    
    
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
    text-decoration: none;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}


.sale-banner{
    height: 80vh;
}


.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

img{
    width: 100%;
    display: block;
    overflow: hidden;
}

.promo-photo{
    width: 300px;
    height: 300px;
    margin-bottom: -175px;

}

.sub-title{
    text-align: center;
}

.circular-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    transition: transform 0.5s;

}

.circular-container:hover {
    transform: scale(1.1);
}

/* Style for the heading inside the circular container */
.circular-heading {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.shop-category{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: auto; /* Move the grid to the center horizontally */
    margin-right: auto; /* Move the grid to the center horizontally */
    max-width: 1200px;
    padding-bottom: 20px;

}

.section-2{
    padding-bottom: 20px;
}


.grid-1{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.user-icons{
    display: flex;
    margin-right: 50px;
    margin-top: -80px;
}

.user-icons a {
    margin-left: 10px; /* Add margin between the icons */
}

.fa-solid{
    font-size: 35px;
    color: black;
    padding-left: 50px;

}

.product {
    position: relative;
}

.product img {
    width: 100%;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    transition: transform 0.8s; /* Add a smooth transition effect */
    
}

.product:hover img {
    transform: scale(1.05); /* Increase the scale on hover */
}


.product-list{
    padding: 25px;
}

.product-name{
    padding-top: 20px;
}

.hidden{
    display: none ;
}

footer {

    color: #39241F;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    width: 100%;
}


.cart-heading{
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.cart{
    width: 400px;
    height: 450px;
    border: 6px solid #39241F;
    display: flex;
    
    margin: auto;
    justify-content: center;
    

}

#cart-items {
    list-style: none;
    padding: 0;
    justify-content: center;
    padding-top: 50px;
    
}

#total{
    padding-top: 30%;
}



